{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}Krоiser{% endblock %}
{#<link href="{% static "main.css" %}" rel="stylesheet" media="screen">#}
<link href="{% static "main.css" %}" rel="stylesheet" media="screen">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "font-awesome.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">
{% block top1 %}
<div id="headerwrap1">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">

          <h1>Studing is awesome!</h1>
          <h2>Courses!</h2>
        </div>
      </div>
    </div>

</div>



    <ul>
        <div id="thread" >
        {% for course in object_list %}
          <div class="scroll" id="course_id-{{ course.id }}">
             <li class="list-group-item">
              <h1>{{course.repetitor}}</h1>
            <h2><a id="name" href="{% url 'course_detail' course.id %}">{{ course.name }}</a></h2>
              <div class="col-md-4">
                  <img id="imgu" src={{ course.avatar.url }} class="img__course">
              </div>
              <div class="col-md-8">-->
                 <h3 id="imgid">{{ course.description }}</h3>
              </div>
                 <small id="#imgCos">{{ course.cost }}</small>
              </div>
        {% endfor %}
        </div>
    </ul>

<!--{% for i in list %}-->
<!--<div class="course">-->
 <!--<h2>{{i.0}}</h2>-->
    <!--<div class="col-md-4">-->
    <!--<img src="{% static "p01.png" %}" class="img__course">-->
    <!--</div>-->
    <!--<div class="col-md-8">-->
        <!--<h3>{{i.1}}</h3>-->
    <!--</div>-->
    <!--{{i.2}}-->
<!--</div>-->
<!--{% endfor %}-->
 {% endblock %}