{% extends 'Base.html' %}
{% load staticfiles %}
{% block title %}Krоiser{% endblock %}
{#<link href="{% static "main.css" %}" rel="stylesheet" media="screen">#}
<link href="{% static "main.css" %}" rel="stylesheet" media="screen">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "font-awesome.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap-theme.css" %}">

{% block top1 %}
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>Studing is awesome!</h1>
          <h2>Учитесь вместе с нами!</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-6">
        <i class="fa fa-laptop"></i>
        <h4>Курсы</h4>
        <p> На нашем сайте вы можете найти большое колличество он-лайн курсов на любые темы. </p>
      </div>
      <div class="col-lg-6">
        <i class="fa fa-trophy"></i>
        <h4>Помощь</h4>
        <p>Если у Вас есть какие-либо вопросы или предложения для улучшения работы нашего проекта, Вы можете написать нам напрямую.</p>
      </div>
    </div>
    <br><br>
  </div>
  <div id="dg">
    <div class="container">
      <div class="row centered">
        <h4>Populare;)</h4>
        <br>
        <div class="col-lg-3 col-lg-pull-3">
          <div class="tilt">

          </div>
        </div>
        <div class="col-lg-2 col-lg-pull-2">
          <div class="tilt">
            <a href="#"><img src="{% static "p02.png" %}" class="img__Start" alt="Курс по изучению компьютерной графики" title="Курс по изучению компьютерной графики"></a>
          </div>
        </div>
       <div class="col-lg-2 col-lg-pull-2">
          <div class="tilt">
            <a href="#"><img src="{% static "p03.png" %}" class="img__Start" alt="Курс Brain hacking" title="Курс Brain hacking"></a>
          </div>
        </div>
        <div class="col-lg-2 col-lg-pull-2">
          <div class="tilt">
            <a href="#"><img src="{% static "p001.png" %}" class="img__Start" alt="Курс - Психология массы" title="Курс - Психология массы"></a>
          </div>
        </div>
        <div class="col-lg-2 col-lg-pull-2">
          <div class="tilt">
        <a href="#"><img src="{% static "p01.png" %}" class="img__Start" alt="Курс по изучению английского языка" title="Курс по изучению английского языка" ></a>
      </div>
        </div>
    </div>
  </div>
{% endblock %}





<!--
<div class="container wb">
    <div class="row centered">
      <br><br>
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Мы создаем сайты</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <p><br><br></p>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-10 col-lg-offset-1">
        <img src="img/munter.png" alt="" class="img-responsive">
      </div>
    </div>
  </div>
  <div id="lg">
    <div class="container">
      <div class="row centered">
        <h4>Партнеры</h4>
        <div class="col-lg-2 col-lg-offset-1">
          <img src="img/c01.gif" alt="">
        </div>
        <div class="col-lg-2">
          <img src="img/c02.gif" alt="">
        </div>
        <div class="col-lg-2">
          <img src="img/c03.gif" alt="">
        </div>
        <div class="col-lg-2">
          <img src="img/c04.gif" alt="">
        </div>
        <div class="col-lg-2">
          <img src="img/c05.gif" alt="">
        </div>
      </div>
    </div>
  </div>
  <div id="r">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>Разарботка сайтов на профессиональном уровне</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
      </div>
    </div>
  </div>-->
